 
* Author :Elizabeth Masai
*  TM:Asha Deen

## 1.Business Understanding

##  Project  Overview

In the world of telecommunications, keeping customers is just as important as acquiring new ones. For SyriaTel, a telecommunications company based in Syria,the cost of acquiring a new customer is six times higher than retaining an existing one . Therefore, understanding why customers leave, or "churn," is crucial for the company's financial well being.
This project therefore aims at helping SyriaTel tackle this challenge by building a classifier to predict whether a customer will soon stop doing business with the telecommunication company.


The  goal of this project is to find any predictable patterns in this data that might indicate a customer is about to churn.By identifying these patterns, this project can provide SyriaTel with insights that could help them improve their customer retention strategies. This will in the long run help SyriaTel save money and maintain a strong customer base.

## Challenges

The challenges faced by the telecom industry include very dimensional and incomplete customer data, the need for accurate churn prediction, and the ability to connect analytics to actionable outcomes.Previous studies however have shown promising results in using big data and machine learning techniques to improve customer loyalty prediction in the telecom industry, achieving high accuracy rates in gender and age prediction.

##  Problem Statement

SyriaTel, a telecommunications company, is facing the challenge of customer churn, where customers decide to end their subscription. This churn rate is currently at approximately 15%. The company wants to understand if there are any predictable patterns or factors that contribute to customer churn. By identifying these patterns, SyriaTel aims to develop strategies to reduce churn and retain more customers, ultimately improving their financial performance and well being.

## Objectives

1.Identify Predictive Patterns: Analyze the provided dataset from SyriaTel to identify patterns and factors that are associated with customer churn. This involves exploring various features such as call minutes, charges, customer service calls, and plan details to understand their impact on churn.

2.Build a Churn Prediction Model: Develop a binary classification model using machine learning techniques to predict whether a customer is likely to churn or not. The model should be trained on historical customer data and evaluated using appropriate metrics such as accuracy, precision, recall, and F1-score.

3.Provide Actionable Insights: Generate actionable insights and recommendations based on the analysis and model results. These insights should help SyriaTel make informed decisions and develop targeted strategies to reduce churn, such as improving customer service, offering personalized promotions, or enhancing plan features.

## Conclusion

SyriaTel, a telecommunications company, is interested in reducing customer churn to minimize financial losses and maximise on profits. By analyzing the provided dataset and building a churn prediction model, this project aims at identifying  patterns and factors that contribute to churn and provide actionable insights to help SyriaTel develop effective customer retention mechanisims.

## 2.Data Understanding

The dataset is sourced from Kaggle [here ](https://www.kaggle.com/datasets/becksddf/churn-in-telecoms-dataset) provides insights about the customers whether they are in the process of terminating their subscriptions with SyrialTel,already terminated or not.
This dataset therefore helps in coming up with predictive models that will aid in mitigating financial losses.

In [3]:
#Import necessary libraries

# Data Handling and Visualization tools
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Filter future Warnings
import warnings
warnings.filterwarnings("ignore")

# Data Preprocessing tools
from sklearn.preprocessing import MinMaxScaler

# Model Training and Evaluation
from sklearn.model_selection import train_test_split
#from imblearn.over_sampling import SMOTE
from sklearn.metrics import roc_curve, roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

import numpy as np
from sklearn import tree
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, recall_score, f1_score, precision_score


from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix


from sklearn.pipeline import Pipeline

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score, KFold
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer, accuracy_score

In [ ]:
#from imblearn.over_sampling import SMOTE
#from imblearn.pipeline import Pipeline as ImPipeline

In [60]:
#Load data

df=pd.read_csv(r"C:\Users\USER\Documents\Moringa\SyriaTel-Customer-Churn-Project\bigml_59c28831336c6604c800002a.csv")
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [61]:
#Number of rows and columns
df.shape

(3333, 21)

In [62]:
#Number of Elements
df.size

69993

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

The dataset contains 3333 rows and 21 columns,four of the columns are objects,8 are integers, 8 are floats and 1 boolian.
The column indicated as "churn" serves as the target in this project while the rest are used as features.
The dataset includes features like call minutes, charges, customer service calls, and details about the plans customers are on.
This dataset enables us find information such as entries  on how long customers talked on the phone, how much they were charged, and how many times they called customer service.

In [64]:
#Statistical Summary
df.describe()

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [65]:
# Function to replace white spaces with underscores in column names to make it readable
def replace_spaces_with_underscores(df):
    df.columns_modified = [col.replace(' ', '_') for col in df.columns]
    return df


#column titles
data = {
    
    'state': [],
    'account length': [],
    'area code': [],
    'phone number': [],
    'international plan': [],
    'voice mail plan': [],
    'number vmail messages': [],
    'total day minutes': [],
    'total day calls': [],
    'total day charge': [],
    'total eve calls': [],
    'total eve charge': [],
    'total night minutes': [],
    'total night calls': [],
    'total night charge': [],
    'total intl minutes': [],
    'total intl calls': [],
    'total intl charge': [],
    'customer service calls': [],
    'churn': []
}

df = pd.DataFrame(data)

# Applying the function to replace spaces with underscores in column names
df = replace_spaces_with_underscores(df)

# Display the updated column names
print(df.columns_modified)

['state', 'account_length', 'area_code', 'phone_number', 'international_plan', 'voice_mail_plan', 'number_vmail_messages', 'total_day_minutes', 'total_day_calls', 'total_day_charge', 'total_eve_calls', 'total_eve_charge', 'total_night_minutes', 'total_night_calls', 'total_night_charge', 'total_intl_minutes', 'total_intl_calls', 'total_intl_charge', 'customer_service_calls', 'churn']

In [66]:
df.columns_modified

['state',
 'account_length',
 'area_code',
 'phone_number',
 'international_plan',
 'voice_mail_plan',
 'number_vmail_messages',
 'total_day_minutes',
 'total_day_calls',
 'total_day_charge',
 'total_eve_calls',
 'total_eve_charge',
 'total_night_minutes',
 'total_night_calls',
 'total_night_charge',
 'total_intl_minutes',
 'total_intl_calls',
 'total_intl_charge',
 'customer_service_calls',
 'churn']

In [67]:
# FFunction  for getting numerical and categorical columns
def get_column_types(column_definitions):
    # Create a DataFrame 
    data = {col: [0] if dtype == 'number' else [''] for col, dtype in column_definitions.items()}
    df = pd.DataFrame(data)
    
    # Get numerical columns
    numerical_columns = df.select_dtypes(include='number').columns
    
    # Get categorical columns
    categorical_columns = df.select_dtypes(include='object').columns
    
    return numerical_columns, categorical_columns

#column definitions 
column_definitions = {
    'state': 'object',
    'account_length': 'number',
    'area_code': 'number',
    'phone_number': 'object',
    'international_plan': 'object',
    'voice_mail_plan': 'object',
    'number_vmail_messages': 'number',
    'total_day_minutes': 'number',
    'total_day_calls': 'number',
    'total_day_charge': 'number',
    'total_eve_calls': 'number',
    'total_eve_charge': 'number',
    'total_night_minutes': 'number',
    'total_night_calls': 'number',
    'total_night_charge': 'number',
    'total_intl_minutes': 'number',
    'total_intl_calls': 'number',
    'total_intl_charge': 'number',
    'customer_service_calls': 'number',
    'churn': 'object'
}

# Get numerical and categorical columns
numerical_columns, categorical_columns = get_column_types(column_definitions)

# Print the results
print(f"Numerical Columns: {numerical_columns}\n")
print(f"Categorical Columns: {categorical_columns}")

Numerical Columns: Index(['account_length', 'area_code', 'number_vmail_messages',
       'total_day_minutes', 'total_day_calls', 'total_day_charge',
       'total_eve_calls', 'total_eve_charge', 'total_night_minutes',
       'total_night_calls', 'total_night_charge', 'total_intl_minutes',
       'total_intl_calls', 'total_intl_charge', 'customer_service_calls'],
      dtype='object')

Categorical Columns: Index(['state', 'phone_number', 'international_plan', 'voice_mail_plan',
       'churn'],
      dtype='object')

## 3. Data Preparation

This stage entails checking for anomalies by analyzing the data to identify missing values,outliers and null values.

In [76]:
class DataCleaner:
    def __init__(self, dataframe):
        self.dataframe = dataframe

    def check_duplicates(self):
        duplicate_rows = self.dataframe.duplicated()
        if any(duplicate_rows):
            print("There are duplicates in the data.")
        else:
            print("There are no duplicates in the data.")

    def remove_duplicates(self):
        initial_shape = self.dataframe.shape
        self.dataframe = self.dataframe.drop_duplicates()
        final_shape = self.dataframe.shape
        print(f"Removed {initial_shape[0] - final_shape[0]} duplicates.")

In [77]:
cleaner = DataCleaner(df)
cleaner.check_duplicates()
cleaner.remove_duplicates()

There are no duplicates in the data.
Removed 0 duplicates.

In [79]:
#Checking for missing values
class DataProcessor:
    def __init__(self, df):
        self.df = df

    def check_null_values(self):
        null_count = self.df.isnull().sum()
        print("Null Values Count:")
        print(null_count)

# Create an instance of the DataProcessor class
processor = DataProcessor(df)

# Check for null values
processor.check_null_values()

Null Values Count:
state                     0
account length            0
area code                 0
phone number              0
international plan        0
voice mail plan           0
number vmail messages     0
total day minutes         0
total day calls           0
total day charge          0
total eve calls           0
total eve charge          0
total night minutes       0
total night calls         0
total night charge        0
total intl minutes        0
total intl calls          0
total intl charge         0
customer service calls    0
churn                     0
dtype: int64

From the above findings,the data does not have null nor any duplicates,this therefore makes it ready for analysis.